

<web-app>

  <display-name>Archetype Created Web Application</display-name>
  
  <servlet>
        <servlet-name>form</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>form</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
  <listener>
  <listener-class>com.listener.MyListener</listener-class>
  </listener>
</web-app>
